body {
  font-family: sans-serif;
  background: url(img/temp7.jpg) no-repeat center fixed;
  background-size: cover;
}

h1 {
    color: #fff;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0px 0px 25px #fC5, 0 0 5px #678987;
    border: 5px solid #fC5;
    padding: 10px 10px;
    width: 30%;
    text-overflow: ellipsis;
    margin: auto;
}

fieldset {
	margin-top:10px;
	color: #fff;
	font-family: 'Saira Semi Condensed', sans-serif;
    border: 5px solid #fefee1;
    padding: 10px 10px
    border-radius: 5px;
	width:40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    font-size: 20px;
}
.add-image-btn {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.add-image-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.file-upload {
	margin-top: 0px;
	margin-bottom:0px;
	width: 200px;
	margin-right: auto;
	margin-left:auto;
	padding: 40px;
	text-align:center;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 10px;
  border: 4px dashed #fefee1;
  position: relative;
  margin-bottom:10px;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #fefee1;
  border: 4px dashed #ffffff;
  transparent: 50;
  opacity: 0.8;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
	text-align: center;
	text-shadow: 1px 1px 2px black, 0px 0px 25px #fC5, 0 0 5px #678987;

}

.drag-text h3 {
	color: #fff;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	padding: 20px;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #80020a));
	background:-moz-linear-gradient(top, #ff0000 5%, #80020a 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #80020a 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #80020a 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #80020a 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #80020a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#80020a',GradientType=0);
	background-color:#ff0000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #944d4d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.remove-image:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80020a), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #80020a 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #80020a 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #80020a 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #80020a 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #80020a 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80020a', endColorstr='#ff0000',GradientType=0);
	background-color:#80020a;
}
.remove-image:active {
	position:relative;
	top:1px;
}

.btn-primary {
  width: 100%;
  margin: auto;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary:hover {
  background: #FF0000;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.btn-primary:active {
  border: 0;
  transition: all .2s ease;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:16px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.table {
	text-align:center;
	margin: auto;
	margin-top:0px;
	margin-bottom:0px;
	font-size: 25px;
}
