<!DOCTYPE html>
<!--COMMEMT-->
<html>
  <head>
	<script type="text/javascript">
	
		window.onload = doStuff;
		function doStuff() {
		var res=document.getElementById("res");
		res.style.display='none';
		var loading=document.getElementById("loading");
		loading.style.display='none';

		}
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('.image-upload-wrap').hide();
					$('.file-upload-image').attr('src', e.target.result);
					$('.file-upload-content').show();
					$('.image-title').html(input.files[0].name);
						image_url = reader.result 
						preview.src = image_url;
					console.log(image_url)
				};
				reader.readAsDataURL(input.files[0]);
			} else {
			removeUpload();
			}
		}

		function removeUpload() {
			res.style.display='none';
			loading.style.display='none';
			$('.file-upload-input').replaceWith($('.file-upload-input').clone());
			$('.file-upload-content').hide();
			$('.image-upload-wrap').show();
		}
		$('.image-upload-wrap').bind('dragover', function () {
			$('.image-upload-wrap').addClass('image-dropping');
		});
		$('.image-upload-wrap').bind('dragleave', function () {
			$('.image-upload-wrap').removeClass('image-dropping');
		});

		async function start(cur_mode) {
		//arabic or english
		mode = cur_mode

		//load the class names
		await loadDict()
		}
		function previewFile(){
		   var preview = document.querySelector('img'); //selects the query named img
		   var file    = document.querySelector('input[type=file]').files[0]; //same as here
		   var reader  = new FileReader();
				   reader.onloadend = function () {
					   image_url = reader.result 
					   preview.src = image_url;
					   console.log(image_url)
				   }
				   if (file) {
					   reader.readAsDataURL(file); //reads the data as a URL
				   } else {
					   preview.src = "";
				   }
			  }

		function classify() {
			res.innerHTML = "" ;
			loading.style.display='block';
			var url="classify?imageurl=" + image_url;
			$.get(url, function(data, status){
			res.style.display='block';
			loading.style.display='none';
			res.innerHTML = data.results[0].class_name;
			var sel = String(data.results[0].class_name);
			switch(sel) {
				case "أنا":
					ana.play();
					break;
				case "يغلق":
					closee.play();
					break;
				case "يستمر":
					continuee.play();
					break;
				case "يأكل":
					eat.play();
					break;
				case "أين":
					fen.play();
					break;
				case "يسمع":
					listenn.play();
					break;
				case "يفتح":
					openn.play();
					break;
				case "قصير":
					shortt.play();
					break;
				case "طويل":
					tall.play();
					break;
				case "يشاهد":
					watch.play();
					break;
				}
			});
		};

		   previewFile();

    </script>
	   
	<title>Sign language</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	</head>
<body>
<h1>Sign Language Translator</h1>
<fieldset>
	<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="add-image-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop an Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
    </div>
  </div>
		<button id="btn_search" class="myButton" onclick="classify();" type="button">GO</button>
		<br><br>
		<div id="loading" class="table"> Recognizing . . . Please Wait. . .</div>
		<div id="res" class="table"></div>
		<audio id="ana"><source src="../static/voice/ana.mp3" type="audio/mpeg"></audio>
		<audio id="closee"><source src="../static/voice/close.mp3" type="audio/mpeg"></audio>
		<audio id="continuee"><source src="../static/voice/continue.mp3" type="audio/mpeg"></audio>
		<audio id="eat"><source src="../static/voice/eat.mp3" type="audio/mpeg"></audio>
		<audio id="fen"><source src="../static/voice/fen.mp3" type="audio/mpeg"></audio>
		<audio id="listenn"><source src="../static/voice/listen.mp3" type="audio/mpeg"></audio>
		<audio id="openn"><source src="../static/voice/open.mp3" type="audio/mpeg"></audio>
		<audio id="shortt"><source src="../static/voice/short.mp3" type="audio/mpeg"></audio>
		<audio id="tall"><source src="../static/voice/tall.mp3" type="audio/mpeg"></audio>
		<audio id="watch"><source src="../static/voice/watch.mp3" type="audio/mpeg"></audio>
	</div>
	</fieldset>
</body>

